a:visited
  color: #609


.d-block
  width: fit-content

img
  vertical-align: none
  user-select: none

video, img
  max-width: 100%

.container,
.post
  margin-bottom: 1em


.btn.btn-none
  background-color: initial


// bootstrap/grid allows for a container but it will
// also out put a lot of other things
// that we dont need. So we will use their mixin.
.container,
form, 
footer
  @include make-container()
  @include make-container-max-widths()